<% @favourites.each do |favourite| %>
<p><%= favourite.car.brand%></p>
<p><%= favourite.car.model%></p>
<%= link_to "Unfavourite" favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>%
<% end %>
