<%# Trying to add style: %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("road.jpg") %>);">
  <div class="container">
    <h1>Welcome to your Awesome Garage</h1>
    <p>Let's explore and review cars together!</p>
     <%= link_to 'Browse Cars', cars_path, class: 'btn btn-primary' %>
  </div>
</div>
